.container{
   height: calc(100vh - 60px);
   display: flex;

   aside{
      height: 100%;
      width: 200px;
      flex-grow: 0;
   }

   main{
      height: 100%;
      overflow: auto;
      flex: 1;
   }
}
